:root {
    --bg: #991111;
    --panel: rgba(10, 14, 24,.72);
    --panelSolid: #72f7e7;
    --text: #fafafa;
    --muted: rgba(249, 249, 249, .72);
    --accent: #f2f21f;
    --accent2: #00a8ff;
    --shadow: #4cc2ff;
    --radius:14px;

}
* {
    box-sizing: border-box;
}
html, body {
   height: 100%;}
body {
    background: var(--bg);
    color: var(--text);
    font-family: system-ui, -apple-system,  'Segoe UI', Roboto,Arial, sans-serif;
   margin: 0%;
}
/* --- profiles --- */
.profiles-page {
    min-height: 100%;/*100% de la altura de la ventana*/
    display: flex;
    flex-direction: column;
}
.profiles-header {
    padding: 28px 32px;
}
.dplus-mark {
    font-weight: 700;
    letter-spacing: .3px;
    font-size: 22px ;
}
.dplus {
    opacity: .85;
}
.profiles-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
}
.profiles-title {
    font-size: clamp(26px, 4vw, 44px);
    margin: 0 0 34px;
    font-weight: 700;
}

.profiles-grid {
    display: flex;
    gap: 34px;
    flex-wrap: wrap;
    justify-content: center;
}

.profiles-card {
    background:transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: var(text);
    border: 0;
    width: 168px;
    transition: transform 22s ease;
    gap: 12px;
}
.profiles-card img {
    width: 132px;
    height: 132px;
    object-fit: cover;
    border-radius: 999px;
    transition: transform .3s ease,  box-shadow .3s ease border-color .3s ease;
}
.profiles-card span {
    opacity: .92;
    letter-spacing: .2px;
    font-size: 18px;
}
.profiles-card:hover {
    transform: translateY(-3px);
}

.profiles-card:hover img {
   transform: scale(1.05);
   border: 3px solid rgb(255, 255, 255);
}
.add-profile {
   cursor: not-allowed; 
   opacity: .55;
}
.add-circle {
    width: 132px;
    height: 132px;
    border-radius: 999%;
    font-size: 48px;
    color: rgb(255, 255, 255);
   background:  #4E4E51;
    place-items: center;
    
}
.profiles-hint {
    margin-top: 26px;
    color: var(--muted);
    font-size: 14px;
    
}